@media (max-width: 800px) {
    .profile {
        width: 70%;
        margin-left: 20%;
    }
}
@media (max-width: 600px) {
    .profile {
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 400px) {
    .profile {
        width: 100%;
        margin: auto;
    }
}